{% extends "layout.html" %}

{% block mainContent %}
  <div><h1 id="title">{{event.title}}</h1></div>
  <div><span id="date">{{event.date}}</span></div>
  <div><span id="location">{{event.location}}</span></div>
  <div>
   <ul  id="attendees">
    {% for person in event.attending %}
     <li>{{person}}</li>
    {% endfor %}
   </ul>
  </div>
  <div><img src={{event.image}} id="image"></div>
  
   <form method="POST">
    <label for="email">RSVP:</label>
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
  </form>
  
   <ul class="form-errors">
    {% for error in errors %}
     <li>
      <b>{{error}}</b>
     
     </li>
   {% endfor %}
   </ul>

{% endblock %}
