<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>

	<body class="container">

    {% block header %}
      <header> <strong> The MDLA* (<i>AKA epic-wrath</i>) Website </strong> </header>
      <hr width=100% size='10px'>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
      <a href="/">Home</a> &gt; <a href="/about">About Us</a>
      <hr width=100%>
       <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAZTAAAAJGQ4ODNjMGRkLWM1MjgtNDNjZS1iNmI1LWQ1YjdlNjBlOTUzZg.png" id="logo"></img>
      </footer>
    {% endblock %}

  </body>
</html>